## .NET
bin/
obj/
*.user
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

## Visual Studio
.vs/
*.suo
*.csproj.user
launchSettings.json

## JetBrains Rider
.idea/
*.sln.iml

## OS
Thumbs.db
ehthumbs.db
.DS_Store

## Docker
postgres_data/

## Environment
appsettings.Production.json
*.env
